@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 100;
	src: local('Noto Sans Thin'), local('NotoSans-Thin'),
	url(./assets/fonts/NotoSansKR-Thin.woff2) format('woff2'),
	url(./assets/fonts/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans Light'), local('NotoSans-Light'),
	url(./assets/fonts/NotoSansKR-Light.woff2) format('woff2'),
	url(./assets/fonts/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 350;
	src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
	url(./assets/fonts/NotoSansKR-DemiLight.woff2) format('woff2'),
	url(./assets/fonts/NotoSansKR-DemiLight.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans Regular'), local('NotoSans-Regular'),
	url(./assets/fonts/NotoSansKR-Regular.woff2) format('woff2'),
	url(./assets/fonts/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans Medium'), local('NotoSans-Medium'),
	url(./assets/fonts/NotoSansKR-Medium.woff2) format('woff2'),
	url(./assets/fonts/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans Bold'), local('NotoSans-Bold'),
	url(./assets/fonts/NotoSansKR-Bold.woff2) format('woff2'),
	url(./assets/fonts/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 900;
	src: local('Noto Sans Black'), local('NotoSans-Black'),
	url(./assets/fonts/NotoSansKR-Black.woff2) format('woff2'),
	url(./assets/fonts/NotoSansKR-Black.otf) format('opentype');
}
html, body {
	font-family:  -apple-system, BlinkMacSystemFont,'Noto Sans Korean', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}