@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  *{
    @apply tracking-wide;
  }
  html, body, #root {
    -webkit-overflow-scrolling: touch;
    @apply min-h-full;
    @apply bg-white
  }
  html.dark, body, #root {
    -webkit-overflow-scrolling: touch;
    @apply min-h-full;
    @apply bg-dark-800
  }
  h1 {
    @apply text-5xl;
    @apply font-bold;
    @apply mb-8
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
    @apply mb-6
  }
  h3 {
    @apply text-xl;
    @apply font-bold;
    @apply mb-4
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
  }
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .line-clamp-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  .line-clamp-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
}